* { box-sizing: border-box; }

html {
font-family: Tahoma;
}

html, body {
margin:0;
padding:0;
}


header {
background: black;
color: white;
padding: 0.4em 2em;
display: flex;
justify-content: space-between;
margin-bottom: 1em;
}

header h1 {
margin:0;
}

.i-email {
	height: 1em;
	align-self: center;
}


main {
margin: 0 0em 0 0.5em;
display: flex;
}

.info {
width: 260px;
}

.i-project-list {
	flex:1;
	font-size: 0.8rem;
}

.i-project-nav {
display: flex;
flex-direction: column;
}

.nav-arrow {
background: #000;
color: #fff;
min-width: 50px;
min-height: 50px;
text-align: center;
border: 1px solid white;
flex: 1;
padding-top: 24.5%;
}

.nav-arrow:hover {
	cursor: pointer;
	background: #666;
	font-weight: bold;
}

.i-next-proj {

}


iframe {
border: none;
}

.project {
display: flex;
justify-content: space-between;
}

.mask-big-frame {
	width: 704px;
	height: 644px;
	overflow: hidden;
	border: 2px solid #eee;
}

.big-frame {
	width: 1400px;
	height: 1270px;
	transform-origin: 0 0;
	transform: scale(0.5);
}

.mask-small-frame {
	overflow: hidden;
	border: 2px solid #eee;
	width: 364px;
	height: 644px;
	overflow: hidden;
}

.small-frame {
	width: 360px;
	height: 640px;
}

.preload-frame {
position: absolute;
top:0px;
left:-1000px;
width:1000px;
height:200px;
}